
  .imageContainer {
    flex: 1;
    padding: 20px;
  }
  
  .image {
    width: 100%; /* 使圖片寬度填滿容器 */
    height: auto; /* 保持圖片比例 */
    border-radius: 10px; /* 圓角邊框 */
  }
  
  .textContainer {
    flex: 1;
    padding: 20px;
  }
  
  .introTitle {
    font-size: 55px;
    margin-bottom: 40px;
    font-weight: 1000;
    color: #1f6662;
    text-align: left; 
  }

  .description {
    font-size: 20px;
    color: #a9a9a9; 
    line-height: 1.5; 
    margin-bottom: 20px;
    text-align: left; 
  }
  
  

  